<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="PHPThaiNLP">
            <file>php/tests/PHPUnitTokenizerTest.php</file>
            <file>php/tests/LaravelIntegrationTest.php</file>
            <file>php/tests/Uax14Test.php</file>
            <file>php/tests/LineBreakerTest.php</file>
            <file>php/tests/SegmentationTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>php/src/</directory>
        </include>
    </source>
</phpunit>
